{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
    <h2>Kirjaudu sisään</h2>

    <form action="/login" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <p>
            Käyttäjätunnus:<br>
            <input type="text" name="username" required maxlength="50">
        </p>
        <p>
            Salasana:<br>
            <input type="password" name="password" required minlength="5">
        </p>
        <input type="submit" value="Kirjaudu">
    </form>

    <p>Ei tunnusta? <a href="/register">Luo tunnus</a></p>
{% endblock %}